{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Partners' %}{% endblock %}
{% block description %}{% trans 'partners.description' %}{% endblock %}
{% block content %}
<article class="sponsors">
    {% for id, category in partners.items %}
        {% if category.items %}
            <h2 class="page-heading {{ id }}-heading">{{ category.title }}</h2>
            <div class="category container-fluid p-0" id="{{ id }}">
        {% endif %}
            {% for partner in category.items %}
                <div class="child">
                    {% load static %}
                    <div class="leaflet"></div>
                    <div class="card-container">
                            <div class="container-image">
                                <a href="{{ partner.link }}" rel="noopener">
                                    {% if partner.image %}
                                    <img class="logo lazy lazy-on-view"
                                        src="{{ partner.image.thumbnail.320x320.url }}"
                                        data-srcset="{{ partner.image.thumbnail.320x320.url }} 320w,
                                            {{ partner.image.thumbnail.720x720.url }} 720w,
                                            {{ partner.image.thumbnail.1024x1024.url }} 1024w"
                                        sizes="(max-width: 576px) 320px,
                                            (max-width: 992px) 720px,
                                            1024px"
                                        alt="" />
                                    {% else %}
                                    <div class="logo no-image">
                                        <h3>{{ partner.name }}</h3>
                                    </div>
                                    {% endif %}
                                </a>
                                <div class="title">
                                    <h3>{{ partner.name }}</h3>
                                </div>

                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</article>
{% endblock %}